Footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}
#Footer {
  padding: 20px 0px;
  margin-top: 30px;
  background-color: hsl(233, 26%, 24%);
  /* height: 120px; */
}
#socialMedias > span {
  margin-right: 5px;
  cursor: pointer;
}

/* .facebookIcon {
  background-image: url("../images/icon-facebook.svg");
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
#socialMedias .facebookIcon:hover {
  background-color: hsl(136, 65%, 51%);
  color: red;
} */
/* .navigations {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.navigations > a {
  cursor: pointer;
  display: block;
  width: max-content;
  color: rgb(204, 203, 203) !important;
}
.navigations > a:hover {
  color: hsl(136, 65%, 51%) !important;
}
#copyRight > * {
  display: block;
}
#copyRight a {
  display: inline-block;
  color: white;
}
#copyRight span {
  margin-top: 10px;
  color: rgb(124, 124, 124);
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  Footer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  }
  Footer > * {
    margin: 3px 0px;
  }
  #navigation-2 {
    padding-left: 22px;
  }
}
