#Main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 5px 0px;
}
#Main .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-top: 60px;
  grid: 1 2/1 2;
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; */
}
#Main .info > * {
  margin: 20px 0px;
}
.mockups {
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.mockups img {
  width: 100%;
  /* width: 450px; */
  background: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -40px;
  background-position-x: -50px;
  position: relative;
  top: 100px;

  /* background-position-x: -90px; */
}
@media screen and (max-width: 768px) {
  #Main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .mockups img {
    width: 450px;
    /* height: fit-content; */
  }

  #Main .info {
    align-items: center;
  }
  .mockups {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media screen and (max-width: 425px) {
  .mockups img {
    width: 300px;
    height: 400px;
  }
}
