.inviteBtn {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: 0px;
}
.inviteBtn:hover {
  opacity: 0.9;
}
body {
  font-family: "Public Sans", sans-serif !important;
  font-size: 18px !important;
}
